<?xml version="1.0"?>
<configuration>
  <appSettings configSource="conn.config"/>
  <system.web>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <compilation targetFramework="4.0" debug="true" batch="false" optimizeCompilations="true"/>
    <authentication mode="Forms">
      <forms name="XHDCRM_v2_Auth" cookieless="UseCookies" loginUrl="login.aspx" protection="All" path="/"/>
    </authentication>
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="Off" >          
        </customErrors> -->
    <!-- 如果使用.NET4.0模式，系统提示检测到潜在的危险request.form值，请使用下面的配置 -->
    <httpRuntime maxRequestLength="109600" executionTimeout="600" requestValidationMode="2.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add path="*.xhd" verb="*" type="XHD.Ajax.AjaxXHD, XHD.Ajax,Version=1.0.0.0, Culture=neutral, PublicKeyToken=cc0e976adcaf09fe" validate="false"/>
    </httpHandlers>
  </system.web>
  <!-- set secure paths -->
  <location path="main.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="HR">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="CRM">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="home">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Personal">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ReportForm">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="System">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Toolbar">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ueditor">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="sale">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="pss">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="mail">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="product">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="file">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="JS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="lib">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <system.webServer>
    <handlers>
      <!--ajaxpro-->
      <add name="AjaxHandlerFactory" verb="*" path="*.xhd" type="XHD.Ajax.AjaxXHD, XHD.Ajax,Version=1.0.0.0, Culture=neutral, PublicKeyToken=cc0e976adcaf09fe" preCondition="integratedMode"/>
      <!--<add name="ajaxpro" verb="post,get" path="ajaxpro/*.ashx" type="ajaxpro.ajaxhandlerfactory,ajaxpro"/>-->
    </handlers>
    <directoryBrowse enabled="false"/>
    <!--取消文件目录浏览-->
    <validation validateIntegratedModeConfiguration="false"/>
    <!--包含双重转义序列的请求。-->
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>
</configuration>